.main{
    background-color: $main_color;
    padding: 40px 60px;
    @include flex;
    &_box{
        width: 43%;
        margin: 50px 40px;
    }
    &_bg{
        background-color: $sab_color;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }
    &_img{
        &_photo{
            width: 100%;
            height: 350px;
        }
    }
    &_time{
        font-size: $title_fs;
        color: $font_color;
        margin-top: 10px;
    }
    &_title{
        font-size: $copy_fs +8;
        margin-top: 5px;
        font-weight: lighter;
    }
    &_text{
        font-size: $title_fs +8;
        margin-top: 10px;
    }
}