// 変数定義用ファイル
$main_color: rgb(230,230,230);
$sab_color: rgb(255,255,255);
$font_color:  rgb(128, 128, 128);

// キャッチコピーのフォントサイズ
$fvcopy_fs: 32px;

// 見出し、サブコピー
$copy_fs: 24px;
$title_fs: 16px;
$text_fs: 8px;